/* Estilo para la animación de entrada */
.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  
  /* Estilo para la animación de salida */
  .fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
  }
  
  /* Animación de entrada */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Animación de salida */
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }